body{
    background-color:rgb(207, 228, 247) ;
}
.link{
    left: 1200px;
    right: 400px;
    top: 270px;
    position:absolute;
}
.tocar{
    position: absolute;
    font-family:'Liberation serif';
   font-size: 20px;
}
.imagenclick{
    height:300px ;
    width: 350px;
    position: absolute;
    right: 600px;
    bottom: 300px;
}
.logoepet{
    width: 100px;
    height: 100px;
    position:absolute;
    left: 1150px;
    bottom: 250px;
    right: 100px;
    top: 10px;
    }
.caratula{
        font-family:'Liberation serif';
       font-size: 20px;
       background-color:rgb(207, 228, 247) ;
       width: 500px;
       height:250px;     
    }
    .titulo{
        font-family:'Liberation serif';
       font-size: 20px;
        background-color:cadetblue;
        height:50px;
        width: 550px; ;
    }